.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background: #212121;
  color: #48b3e1;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font: Kulim Park;
}
a {
  text-decoration: none;
}
p {
  margin-left: 30px;
}
h1 {
  margin-left: 30px;
  width: 100%;
  font-size: 34px;
  display: inline;
  vertical-align: middle;
}
h2 {
  margin-left: 20px;
}
img {
  vertical-align: middle;
}